if user
	a.menu-toggle.rounded(href='/account')
		i.fa.fa-bars

	nav#sidebar-wrapper
		ul.sidebar-nav
			li.sidebar-brand(style='padding-bottom: 160px;')
				a.js-scroll-trigger(href='/')
					.text-center
						h3 SelfKey <br>Network
						hr
						h4 KEY: 129,393.73
						hr
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/ido/dashboard') IDO Dashboard
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/certifier/dashboard') Certifier Dashboard
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/rp/dashboard') RP Dashboard
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/affiliate/dashboard') Affiliate Dashboard
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/arbiter/dashboard') Arbiter Dashboard
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/account') SelfKey ID
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/submissions') Submissions
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/marketplace') Marketplace
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/wallets') Wallet
			li.sidebar-nav-item
				a.js-scroll-trigger(href='/logout') Logout
