extends _layout

block content
	h1.pull-right V1
	p.pull-right When Geo Metro Edition
	.row
		.col-xs-offset-3.col-xs-6.text-center(style="margin-top:140px;")
			img(src='https://selfkey.org/wp-content/uploads/2018/03/selfkey-LOGO.png')
			//- h1(style='font-size: 64px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;') SelfKey Network
			hr
			h4(style='text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;')
				em
					| Your Gateway To Decentralized Identity
					br
					
			br
			br
			br
		.row
			.col-xs-offset-4.col-xs-5.lwsClient
			
