extends ../_layout

block content
	.page-header
		h3 Affiliate Onboarding
		hr
		p  The Selfkey Affiliate Network is your 100% guaranteed way to make millions of cryptos from the comfort of your home.
		ul
			li Commission per sale: 18% of the net sale amount
			li Commission When A Customer Spends $100, 18 (paid in KEY)
			li How Long Commissions Are Earned: Once per sale
			li Payout Frequency: 1 week after time of sale
			li Minimum Earnings for Payout: No Minimum
			li Payouts Sent Automatically to Your Eth Address: Yes
			li Provides Reports on Your Referrals: Yes
			li Has this program been tested to work: Yes
		h3.text-center Join Now
		br
		.row
			.col-xs-offset-4.col-xs-6.lwsClient